@import '../../index';
.wrap{
    width: 270px;
    padding: 10px 0; 
    background-color: $color2_1;
    box-sizing: border-box;
    position: fixed;
} 
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.content ul {

}
.content ul a{
    text-decoration: none;
}
.content ul li {
    height: 45px;
    font-size: 16px;
    color: #fff;
    padding-left: 32px;
    display: flex;
    align-items: center;
    transition:.3s;
}
.content ul li:hover{
    cursor: pointer;
    background-color: $color2_2;
    color: $color1_1;
}
.content ul li i{
    font-size: 20px;
}
.content ul li span{
    margin-left: 18px;
}
.content ul li.act{
    cursor: pointer;
    background-color: $color2_2;
    color: $color1_1;
}
.history{
    height: 200px;
}
.history h3{
    font-size: 24px;
    color: #ccc;
    text-indent: 15px;
}
.historyList{
    height: 164px;
    padding-right: 10px;
}
.historyListInner{
    padding: 0 20px 0 30px;
}
.item{
    display: list-item;
    color: #999;
}
.historyList p{
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item:hover{
    color: $color1_1;
    cursor: default;
}
/* 大屏兼容处理 */
@media (min-height: 768px) { 
    .history{
        height: 300px;
    }
    .historyList{
        height: 264px;
    }
}
/* 设置滚动条bar样式 */
:global(.iScrollIndicator){
    border: none!important;
    opacity: 0.5;
}